
<div class="header logout">
  <div class="header-tp">
    <div class="inner">
      <h1 class="logo">
        <a href="/">
          <img src="/images/logo.png" alt="로고">
        </a>
      </h1>
      <div class="ham-btn mo">
        <p></p>
        <p></p>
        <p></p>
      </div>
      <div class="sub-nav web">
        <ul class="left-tp">
          <li><a href="javascript:bookmarksite('벤허리서치', 'https://bh-rc.co.kr/')"><img src="/images/save-icon.png" alt="즐겨찾기"></a></li>
          <li><a href="/pages/about.html">사이트 소개</a></li>
          <li><a href="/pages/consumer/inquiry.html">1:1문의</a></li>
          <li><a href="/pages/consumer/question.html">자주하는 질문</a></li>
          <li><a href="/pages/howToUse.html">이용안내</a></li>
        </ul>
        <ul class="right-tp">
          <li class="logout"><a href="/pages/login/login.html">로그인</a></li>
          <li class="logout"><a href="/pages/login/userSignup.html">회원가입</a></li>
          <li class="login myinfo"><a href="/pages/login/myInfo.html">내정보</a></li>
          <li class="login"><a href="#">로그아웃</a></li>
          <li class="search">
            <input type="text" placeholder="아미나" class="search-input"/>
            <a type="button" class="search-icon" href="/pages/searchResult.html">
              <img src="/images/more-icon.png" alt="검색아이콘">
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <div class="inner">
    <div class="main-txt">새로운 시대와 함께하는 <br class="mo">종합 <strong>투자 솔루션</strong></div>
    <div class="new-time web">
      <img src="/images/time-icon.png" alt="시계아이콘">&nbsp
      <span class="now-year"></span>&nbsp
      <span class="now-month"></span>&nbsp
      <span class="now-date"></span>&nbsp
      <span class="now-day"></span>
    </div>
  </div>
  <nav class="gnb web">
    <div class="inner">
      <ul class="gnb-nav">
        <li class="gnb-btn">
          <a href="/pages/board/integratedReport.html">통합 레포트</a>
        </li>
        <li class="gnb-btn">
          <a href="/pages/board/stockReport.html">종목 레포트</a>
        </li>
        <li class="gnb-btn">
          <a href="/pages/board/foreignReport.html">해외 레포트</a>
        </li>
        <li class="gnb-btn">
          <a href="/pages/board/riskTotalReport.html">위험 관리 레포트<img src="/images/sel-icon.png"></a>
          <ul class="sub-nav">
            <li><a href="/pages/board/riskTotalReport.html">위험종목그룹</a></li>
            <li><a href="/pages/board/riskItem.html">종목위험도</a></li>
          </ul>
        </li>
        <li class="gnb-btn">
          <a href="/pages/board/shareholderReport.html">대주주 지분현황<img src="/images/sel-icon.png"></a>
          <ul class="sub-nav">
            <li><a href="/pages/board/shareholderReport.html">전종목현황</a></li>
            <li><a href="/pages/board/shareholderReport2.html">개별종목세부</a></li>
          </ul>
        </li>
        <li class="gnb-btn">
          <a href="/pages/board/mainReport.html">국내기업정보<img src="/images/sel-icon.png"></a>
          <ul class="sub-nav list-1">
            <li><a href="/pages/board/mainReport.html">주요보고서공시</a></li>
          </ul>
        </li>
        <li class="gnb-btn">
          <a href="/pages/pay/userPay.html">결제<img src="/images/sel-icon.png"></a>
          <ul class="sub-nav">
            <li><a href="/pages/pay/userPay.html">회원결제</a></li>
            <li><a href="/pages/pay/pointPay.html">포인트결제</a></li>
          </ul>
        </li>
      </ul>
    </div>
  </nav>
</div>

<!-- 모바일네비 -->
<div class="mo-nav logout">
  <div class="mo-nav-tp">
    <div class="sub-nav">
      <div class="top">
        <a class="logout" href="/pages/login/login.html">로그인</a>
        <a class="logout" href="/pages/login/userSignup.html">회원가입</a>
        <a class="mypage login" href="/pages/login/myInfo.html">마이페이지</a>
      </div>
      <div class="md">
        <a href="/pages/about.html">서비스 소개</a>
        <a href="/pages/consumer/inquiry.html">1:1문의</a>
      </div>
      <div class="bottom">
        <a href="/pages/consumer/question.html">자주묻는 질문</a>
        <a href="/pages/howToUse.html">이용안내</a>
      </div>
    </div>
  </div>
  <nav>
    <ul class="inner">
      <li class="mo-gnb"><a href="/pages/board/integratedReport.html">통합 레포트</a></li>
      <li class="mo-gnb"><a href="/pages/board/stockReport.html">종목 레포트</a></li>
      <li class="mo-gnb"><a href="/pages/board/foreignReport.html">해외 레포트</a></li>
      <li class="mo-gnb">
        <a href="javascript:void(0)">위험 관리 레포트 <img src="/images/mo-nav-icon.png"></a>
        <ul class="mo-sub-nav">
          <li><a href="/pages/board/riskTotalReport.html">위험종목그룹</a></li>
          <li><a href="/pages/board/riskItem.html">종목위험도</a></li>
        </ul>
      </li>
      <li class="mo-gnb">
        <a href="javascript:void(0)">대주주 지분현황 <img src="/images/mo-nav-icon.png"></a>
        <ul class="mo-sub-nav">
          <li><a href="/pages/board/shareholderReport.html">전종목현황</a></li>
          <li><a href="/pages/board/shareholderReport2.html">개별종목세부</a></li>
        </ul>
      </li>
      <li class="mo-gnb">
        <a href="javascript:void(0)">국내기업정보 <img src="/images/mo-nav-icon.png"></a>
        <ul class="mo-sub-nav">
          <li><a href="/pages/board/mainReport.html">주요보고서공시</a></li>
        </ul>
      </li>
      <li class="mo-gnb">
        <a href="javascript:void(0)">결제 <img src="/images/mo-nav-icon.png"></a>
        <ul class="mo-sub-nav">
          <li><a href="/pages/pay/userPay.html">회원결제</a></li>
          <li><a href="/pages/pay/pointPay.html">포인트결제</a></li>
        </ul>
      </li>
    </ul>
  </nav>
  <div class="mo-nav-bt">
    <div class="inner">
      <div class="search">
        <input type="text" placeholder="아미나" class="search-input"/>
        <a type="button" class="search-icon" href="/pages/searchResult.html">
          <img src="/images/more-icon.png" alt="검색아이콘">
        </a>
      </div>
      <div class="new-time2">
        <img src="/images/time-icon.png" alt="시계아이콘">&nbsp
        <span class="now-year2"></span>&nbsp
        <span class="now-month2"></span>&nbsp
        <span class="now-date2"></span>&nbsp
        <span class="now-day2"></span>
      </div>
    </div>
  </div>
</div>

<script>
</script>